* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background: #202020;
  color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.25rem;
}
